.foot li {
  list-style-type: none;
  text-align: left;
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
}
.foot li:hover {
  background-color: #f1f1f1;
  color: black;
}
.foot li a {
  text-align: right;
}
.external {
}
.external img{
  max-width: 98%;
  min-width: 300px;
  border-radius: 10px;
}
.who{
  min-width: 300px;
  max-width: 500px; 
  border-radius: 10px;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}
